div#login_modal.modal.hide.fade(tabindex='-1',role='dialog',aria-hidden='true',style='display: none;')
	div.modal-body
		h3 Please 
			a(href='/auth/facebook').btn.fb-btn
				i.icon-facebook
				| Login with Facebook
			| to post
