.span4#rightSpan
	include ad
	-if (typeof popular == 'object')
		.span4.top-block
			h3 Top Posts
			ul#top-posts-list.unstyled
				-each post in popular
					li(style='position: relative;')
						a(href='/' + post.user.screen_name + '/' + post._id)
							img.span2(src=cdn_url +'/medium_' + post.pic, width='260', height='216')
						include minilike
						br.clear
